@import '../neat/neat-helpers'

$column: golden-ratio(1em, 3) // 90px
$gutter: golden-ratio(1em, 1) // 30px
$grid-columns: 4
$max-width: 1000px

$medium: new-breakpoint(min-width em(600) 8)
$large: new-breakpoint(min-width em(980) 12)

// $visual-grid: true