.featured
  border: 2px solid $grey
  clear: both
  margin-bottom: 0
  background-color: #f8f5f0
  +border-radius-large

// ul of featured logos
.featured-logos
  list-style-type: none
  width: 100%
  text-align: center
  li
    // +span-columns(1)
    display: inline-block
    img
      float: left
      max-height: 30px
      +rem(padding, 1rem 1rem)
      +media($medium)
        max-height: 45px
        +rem(padding, 1rem 2rem)







  