.home-header
  +rem(font-size, 3rem)
  +media($medium)
    +rem(font-size, 4rem)
  +rem(margin-top, 3rem)
  text-align: center

.home-video
  // +rem(margin-bottom, 5rem)
  +rem(margin-top, 5rem)
  +media($medium)
    +rem(margin-top, 6rem)

.home-benefits
  @extend .lead
  // text-align: center
  +rem(margin-top, 5rem)
  ul 
    +media($large)
      padding-left: 0
    li
      +rem(margin-bottom, 2rem)

.home-form
  @extend %border-box
  +media($large)
    +span-columns(8)
    +shift(2)
  clear: both

.home-testimonials
  @extend %border-box
  @extend .wrap
  margin-left: auto
  margin-right: auto
  +rem(margin-bottom, 5rem)
  article
    +rem(margin-bottom, 6rem)

.countdown
  a
    border: none
    
.gifts
  // border: 1px solid $red

.gift
  @extend .matrix-element
  +rem(padding, 1rem)
  div // div contaning the image
    height: 160px
  img
    max-height: 150px 
  h3
    height: 2em
