.home-header
  font-size: 4rem
  +rem(margin-top, 3rem)
  // +rem(margin-bottom, 5rem)
  text-align: center
  
.home-hook
  // +rem(margin-bottom, 5rem)
  font-size: 4rem
  text-align: center
  // +media($medium)
  //   +span-columns(5)
  // +media($large)
  //   +span-columns(7)

.home-video
  +media($medium)
    +span-columns(4)
  // +media($medium)
  //   +span-columns(3)
  //   +omega
  // +media($large)
  //   +span-columns(5)
  //   +omega

.home-form
  +rem(margin-bottom, 5rem)
  +rem(margin-top, 5rem)
  +rem(padding, 0 5rem)
  border: 4px solid $red
  +border-radius-large
  +media($medium)
    +span-columns(4)
    +omega
  .form-submit
    background-color: $red

  
